table{
    background-color: silver;
    border: 3px solid black; 
}
*{
    padding: 5px;
}
label{
    color: white;
}
#b1{
    background-color: rgb(127, 138, 255);
}
#b2{
    background-color: rgb(235, 109, 109);
}